{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron text-center mt-5 bg-light shadow-lg rounded">
        <h1 class="display-4 text-primary">Welcome to the Mental Health App</h1>
        <p class="lead text-secondary">Track your moods, engage in mindfulness exercises, and access valuable resources.</p>
        <hr class="my-4">
        <p class="text-muted">Take the first step towards better mental health today.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
    </div>
</div>
{% endblock %}